aiohttp
aiosignal
annotated-types
anyio
appdirs==1.4.4
APScheduler==3.10.4
asgiref
async-timeout
attrs
backoff
bcrypt
beautifulsoup4
blinker
Bottleneck
Brotli
bs4==0.0.2
build
cachetools
certifi
cffi
charset-normalizer
chromadb==1.0.13
click==8.1.7
coloredlogs
contourpy
cryptography
cycler
Deprecated
distro
dnspython
durationpy
email_validator
et-xmlfile==1.1.0
exceptiongroup
fastapi
fastapi-cli
filelock
Flask==2.3.3
flatbuffers
fonttools
frozendict
frozenlist
fsspec
git-filter-repo==2.47.0
gmpy2
google-auth
googleapis-common-protos
greenlet==3.2.3
grpcio
gunicorn==21.2.0
h11
html5lib
httpcore
httptools
httpx
huggingface_hub
humanfriendly
idna
importlib_metadata
importlib_resources
itsdangerous==2.1.2
Jinja2==3.1.2
jiter
joblib
jsonschema
jsonschema-specifications
kiwisolver
kubernetes
lxml
markdown-it-py
MarkupSafe==2.1.3
matplotlib==3.10.0
mdurl
mmh3
monotonic==1.5
mpmath
multidict
multitasking
numexpr
numpy==1.24.3
oauthlib
onnxruntime
openai
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
outcome==1.3.0.post0
overrides
packaging
pandas==2.1.1
peewee
pillow
platformdirs
playwright==1.53.0
posthog
propcache
protobuf
psutil
psycopg2-binary==2.9.10
pulsar-client
pyasn1
pyasn1-modules==0.2.8
pybase64==1.4.1
pycparser
pydantic
pydantic_core
pyee==13.0.0
Pygments
PyJWT
pyOpenSSL
pyparsing
PyPika
pyproject_hooks
PySocks
python-dateutil==2.8.2
python-dotenv
python-multipart
pytz==2023.3
PyYAML
referencing
requests
requests-oauthlib
rich
rich-toolkit
rpds-py
rsa
scikit-learn
scipy
scraper==0.1.0
selenium==4.34.0
shellingham
six==1.16.0
sniffio
sortedcontainers==2.4.0
soupsieve
starlette
sympy
tenacity
threadpoolctl
tokenizers
tomli
tornado
tqdm
trio==0.30.0
trio-websocket==0.12.2
typer==0.16.0
typer-slim==0.16.0
typing_extensions==4.14.0
tzdata
tzlocal==5.0.1
unicodedata2
urllib3==2.4.0
uvicorn
uvloop
watchfiles
webencodings==0.5.1
websocket-client
websockets
Werkzeug==2.3.7
wrapt
wsproto==1.2.0
yarl
yfinance
zipp
